.debug{
    border:red solid 1px;
}
html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
margin: 0;
padding:0;

    
}

.container-totaal{
    width:100%;
    height: 400vh;
    display:flex;
    flex-direction: column;
}
.container-menu{
position: fixed;
width: 60%;
height: 100vh;
}

.container-intro{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;
    background-color: blue;
    
}

.container-projecten{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;
    background-color:yellow;

}
.container-cv{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;
    background-color:red;
}

.container-contact{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;
    background-color:green;
}

.box1-menu1{
    background-color: rgba(0,0,0,0.7);
    width: %;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
}

.menu1-boven{
    width:100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu1-boven-onderdeel{
    width: 70%;
    height: 60%;
}

.titel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(196, 140, 21);
}

.inhoud-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}
.menu1-onder{
    width:10%;
    height: 30vh;

}
.menu-item{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin:5px;
    border: 1px solid white;
    list-style: none;
    border-radius: 50%;


}
.button-active{
    background-color: pink;
    
}


.box2-inhoud{

}
.box3-menu2{

}
.menu2-boven{

}
.menu2-midden{

}
.menu2-onder{

}
.intro-banner{
    width:100%;
}
.intro-banner img{
    width:100px;
    height:100px;

}


}