.debug{
    border:red solid 1px;
}
html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

body{
margin: 0;
padding:0;

    
}

.container1-total{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.container1-empty-space{
    width:50%;
    height:100%;
}

.container-totaal{
    width:100%;
    height: 400vh;
    display:flex;
    flex-direction: column;
}


.container-intro{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;
}

.container-projecten{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100vh;


}
.container-cv{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;

}

.container-contact{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;

}

/* ---------------MENU -------------- */
.container-menu{
    position: fixed;
    width: 50%;
    height: 100vh;
    }
.menu{
    background-color: rgba(0,0,0,0.7);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 100px;
}

.menu-boven{
    width:100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.menu-boven-inhoud{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: end;
    align-content: flex-end;
    margin-left: 300px; /*NOG REPAREREN!!!!*/
    margin-top: 5px; /*NOG REPAREREN!!!!*/
}
.hamburger{
    width: 70%;
    height: 60%;
}
.menu-boven-inhoud img{
width:50px;
height: 50px;
}
.menu-midden{ /*NETJES MAKEN */
    width:100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding-left: 150px;
    font-size:24px;
    font-weight: 600;
    color: white;
    list-style: none;
    margin-top:5px;
}

.menu1-onder{
    width:10%;
    height: 30vh;

}
.menu-item{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin:5px;
    border: 1px solid white;
    list-style: none;
    border-radius: 50%;
}

.button-active{
    background-color: pink;
    
}

/* ----------------EINDE MENU  ---------------------------------- */
.titel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(196, 140, 21);
}

.inhoud-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}






.box2-inhoud{

}
.box3-menu2{

}
.menu2-boven{

}
.menu2-midden{

}
.menu2-onder{

}
.intro-banner{
    width:100%;
}
.intro-banner img{
    width:100px;
    height:100px;

}


}