.debug{
    border:red solid 1px;
}
html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    
}

body{
margin: 0;
padding:0;
    
}
h2{
    font-family: 'Gugi', cursive;
    font-size:25px;
}
li{
    margin-right: 10px;
}
.text{
    padding-left:25px;
}
.container1-total{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.container1-empty-space{
    width:50%;
    height:100%;
}

.container-totaal{
    width:100%;
    height: 400vh;
    display:flex;
    flex-direction: column;
}


.container-intro{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;
}

.container-projecten{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100vh;


}
.container-cv{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;

}

.container-contact{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100vh;

}

/* ---------------MENU -------------- */
.container-menu{
    position: fixed;
    width: 30%;
    height: 100vh;
    }
.menu{
    background-color: rgba(0,0,0,0.6);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 100px;
}

.menu-above{

    height: 40vh;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.menu-bove-content{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;

/*     margin-left: 300px;
    margin-top: 5px; */
}

.menu-bove-content-empty{
width:60%;
height:100%;
}

.menu-above-content img{
    width:50px;
    height: 50px;
}

.hamburger{
    width: 70%;
    height: 60%;
}

.menu-middle{ 
    width:100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    font-size:30px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.952);
    list-style: none;
    cursor: pointer;
    text-align-last: right;

}
.home-button{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.home-button:hover{
    animation-delay: 1s;
    color: green;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
    
}

.CV-button{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.CV-button:hover{
    animation-delay: 1s;
    color: rgb(121, 121, 61);
    animation-timing-function:ease-in-out;
    transition: 0.5s;
    
}

.Projecten-button{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.Projecten-button:hover{
    animation-delay: 1s;
    color: rgb(66, 157, 209);
    animation-timing-function:ease-in-out;
    transition: 0.3s;
    
}

.Contact-button{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.Contact-button:hover{
    animation-delay: 1s;
    color: rgb(192, 80, 80);
    animation-timing-function:ease-in-out;
    transition: 0.3s;
    
}

.menu1-under{
    width:10%;
    height: 30vh;

}
.menu-item{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin:5px;
    border: 1px solid white;
    list-style: none;
    border-radius: 50%;
}

.button-active{
    background-color: pink;
    
}


.animate-menu{
transition-duration: 1s;
    }
/* ----------------EINDE MENU  ---------------------------------- */
.titel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(196, 140, 21);
}

.inhoud-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top:-200px;
    background-color: white;
    border-radius: 2%;
    padding:20px;
}
.banner{
    width:100%;
    height: 70px;
}

.banner img{
    width:100px;
    height:70px;

}

.images{
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr ;
    border:red solid 1px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100px;
}

.intro-content1{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    width:200px;
    height:100px;
}

.intro-content2{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    width:100px;
    height:100px;
}

.intro-content3{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
    width:100%;
    height:100%;
}