.debug{
border:red 1px solid;
}

html{
margin:0;
padding:0;
scroll-behavior: smooth;
font-family: 'Encode Sans Semi Expanded', sans-serif;
}

span{
    font-weight: 800;
}

.wrapper{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:325vh;
}

.nav-container{
    width:100%;
    height:60px;
    background: rgb(53, 53, 53);
    border-bottom: 3px rgb(34, 169, 231) solid;
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.nav{
    list-style: none;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-left:12px;
    margin-right: 12px;
}

.home:hover{
    animation-delay: 1s;
    color: rgb(44, 64, 172);
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}

.about-me:hover{
    animation-delay: 1s;
    color: rgb(44, 64, 172);
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}

.Projects:hover{
    animation-delay: 1s;
    color: rgb(44, 64, 172);
    animation-timing-function:ease-in-out;
    transition: 0.3s; 
}
.contact{
    animation-delay: 1s;
    color: rgb(44, 64, 172);
    animation-timing-function:ease-in-out;
    transition: 0.3s; 
}
.home{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.about{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.Projects{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.contact{
    color: white;
    animation-timing-function:ease-in-out;
    transition: 0.3s;
}
.container1{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background-image: url("trianglify.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container1 img{
    width: 100%;
    height:100vh;
    position: relative;
}
.intro-center{
    width:48%;
    height: auto;
    font-size:40px;

}

.container2{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    text-align: center;
    
}
.box1{
    width: 20%;
    height: 100vh;

}
.box2{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    }

.title-about{
    width: 100%;
    height:10%;
    color:brown;
    align-self: center;
    padding-top:30px;
    font-size: 24px;

}

.content-about{
    width: 100%;
    height:70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-self: center;
}

.content-about-icons-box{
    width:215px;
}

.container-about{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.skills-about-container{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
}

.fas{
    font-size:90px;
    }
    
.text-about{
        font-size:14px;
    }

.skills-about-container{
    display:flex;
    flex-direction: column;/* /////hier verder gaan  */
}

.skills-about{
    width:100%;
    height: 100%;
}

.skills-about-container{
    display: flex;
    flex-direction: row;
    height: 500px;
    width:100%;
}

.softskills{
    width: 50%;
    height: 500px;

}

.softskill-titel{

}

.hardskill{
    width: 50%;
    height: 500px
}

.hardskill-titel{
    width: 100%

}

.hardskill-html{
display:flex;
justify-content: row;
width:400px;
height:30px;
align-items: center;
margin: 10px;
background-color:gray;

}
.hardskill-html-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}
.hardskill-html-bar{
    height:30px;
    width: 60%;
    background-color: aquamarine

}
.hardskill-css{
    display:flex;
    justify-content: row;
    width:400px;
    height:30px;
    align-items: center;
    margin: 10px;
    background-color:gray;
}
.hardskill-css-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}
.hardskill-css-bar{
    height:30px;
    width: 45%;
    background-color: aquamarine
}

.hardskill-javascript{
    display:flex;
    justify-content: row;
    width:400px;
    height:30px;
    align-items: center;
    margin: 10px;
    background-color:gray;
}

.hardskill-javascript-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}

.hardskill-javascript-bar{
    height:30px;
    width: 25%;
    background-color: aquamarine
}



.hardskill-php{

}

.softskill-teamwork{
    display:flex;
    justify-content: row;
    width:400px;
    height:30px;
    align-items: center;
    margin: 10px;
    background-color:gray;
}

.softskill-teamwork-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}

.softskill-teamwork-bar{
    height:30px;
    width: 25%;
    background-color: aquamarine;
}

.softskill-problem-solving{
    display:flex;
    justify-content: row;
    width:400px;
    height:30px;
    align-items: center;
    margin: 10px;
    background-color:gray;
}

.softskill-problem-solving-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}

.softskill-problem-solving-bar{
    height:30px;
    width: 25%;
    background-color: aquamarine;
}

.softskill-time-management{
    display:flex;
    justify-content: row;
    width:400px;
    height:30px;
    align-items: center;
    margin: 10px;
    background-color:gray;
}
.softskill-time-management-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}
.softskill-time-management-bar{
    height:30px;
    width: 25%;
    background-color: aquamarine;
}
.softskill-flexibility{
    display:flex;
    justify-content: row;
    width:600px;
    height:30px;
    align-items: center;
    margin: 10px;
    background-color:gray;
}
.softskill-flexibility-text{
    height:30px;
    width:200px;
    align-self: center;
    background-color: aqua;
}
.softskill-flexibility-bar{
    height:30px;
    width: 25%;
    background-color: aquamarine;
}


.empty-about{
    width: 100%;
    height:10%;
}
.box3{
    width: 20%;
    height: 100vh;
}
.content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr  ;
    border:white solid 1px;
/*     grid-column-gap: 10px;
    grid-row-gap: 15px; */
    width: 100%;
    height: 100%;

}

.content1{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    border:5px blue solid;
}

.content2{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    border:5px purple solid;
}

.content3{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
    border:5px green solid;
}

.content4{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
    border:5px palegreen solid;
}

.content5{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    border:5px darkturquoise solid;
}

.content6{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    border:5px firebrick solid;
}


.title-grid{
    width: 100%;
    height:10%;
    color:brown;
    align-self: center;
    padding-top:30px;
    font-size: 24px;

}

.content-grid{
    width: 100%;
    height:70%;
}

.empty-grid{
    width: 100%;
    height:10%;
}

.container3{
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}
.footer{
background-color:darkblue;
width:100%;
height:25vh;
position: bottom;
}

